body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #2f2f2f;
  color: whitesmoke;
}
.navbar {
  background-color: #2f2f2f;
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
}
.content {
  background-color: #2f2f2f;
  color: whitesmoke;
  text-align: center;
}
h4 {
  color: whitesmoke;
}
span {
  color: #ec8aff;
  font-size: 125%;
}
.dice {
  background-color: white;
  border: 2px solid grey;
  border-radius: 50%;
  padding: 0.5rem 0.5rem;
}
.footer {
  background-color: white;
  color: black;
  border-top: 5px solid #c902d8;
}
img.resize {
  max-width:60%;
  max-height:60%;
}
.board {
  font-family: 'Courier New', Courier, monospace ;
  font-size: small;
}
.departure {
  background-color: #2f2f2f;
  font-size: small;
}
.departureboard {
  background-color: #2f2f2f;
  font-size: small;
}

.btn-light {
  background-color: #ffcc00;
  margin: 10px;
  font-family: 'Rubik', sans-serif;
}
